<footer class="footer py-4" style="background-color: #212529">
  <div class="container">
    <div class="align-items-center">
      <a class="btn btn-warning btn-social mx-2" href="https://www.twitter.com/"
        ><i class="fab fa-twitter"></i
      ></a>
      <a
        class="btn btn-warning btn-social mx-2"
        href="https://www.facebook.com/"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a
        class="btn btn-warning btn-social mx-2"
        href="https://www.linkedin.com/"
        ><i class="fab fa-linkedin-in"></i
      ></a>
    </div>
  </div>
</footer>
