<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("partials/links") %> 
  
  <link href="css/store.css" rel="stylesheet" />
  <link rel="shortcut icon" href="/images/1.svg" type="image/x-icon" />
    <title>Home</title>
</head>
<div>
  <body>
 
  
  <%- include("partials/navbar") %> 
  
    <section id="mast" class="homeMast" style="height: 750px;">
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">...</div>
                <div class="masthead-heading text-uppercase">START BREWING</div>
                <p>Lorem ipsum dolo ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

               <a href="#pages"><i class="pos fas fa-sort-down"></i></a>
              <a href="#pages"> <hr class="full"  style="color: blue; font-size: 3rem;"></a>
               
      
            </div>
          
        </header>
       
    </section>

  

     
   
  
    <section id="pages" class="page-section" >
        <div style="overflow:hidden; height: auto;">

            <div  class="row" >
               
                <div class="col-lg-8" style="background-color: #ffffff; padding: 5rem; height: 100vh;">
              <div class="flex-container" style="padding: 15px;">
                  <div class="about" style="color:#212529">OUR SERVICES</div>
         <div style="padding:0 7%;"  >
                          
                          <p style="color: #e6b301;font-size: 1.1rem; line-height: 2; letter-spacing: 0.0067em; font-family: 'Montserrat';">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vel quam elementum pulvinar etiam. Nam aliquam sem et tortor consequat id. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt eget. Pretium quam vulputate dignissim suspendisse in est. In nisl nisi scelerisque eu. Vulputate ut pharetra sit amet aliquam id diam maecenas</p>
                           <div class="text-center">
                      
                        <a href="#serv" style="font-size: 1.89rem; position:relative;margin-top: 120px;" class="btn btn-primary btn-lg text-uppercase submit" role="button">Browse Services</a>
                    </div>
                      </div>

                   
      
             
              </div>
              </div>
              <div class="col-lg-4" >
                <img class="rhead" src="https://images.unsplash.com/photo-1511920170033-f8396924c348?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60;
                " alt="">
                </div>
              
            </div>
           
  
               
              

        </div>
    


      
    </section>
    <section  id="serv" >
      <div class="about" style=" text-align: center; color:#212529">BROWSE BY CATEGORY</div>
      <div class="container-fluid" style="padding: 1.5% 2%;">
        <div class="row">
          <div class="col-lg-4 " style="text-align: center;">
            <a class="inLink" href="/break">
              <img src="/images/11.png" id="ig" style=" margin-bottom:10px ;font-size: 0.4rem;" alt="">
              <h3 >Breakroom Supplies</h3>
              <p class="inH">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus sit amet est placerat in egestas erat imperdiet sed. Ullamcorper a lacus vestibulum sed.</p>

            </a>
   
          </div>
          <div class="col-lg-4 " style="text-align: center;">
            <a class="inLink" href="/equipments">
            <img src="/images/22.png" id="ig" style=" margin-bottom:10px ;font-size: 0.4rem;" alt="">
           <h3 >Equipment</h3>
            <p class="inH">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus sit amet est placerat in egestas erat imperdiet sed. Ullamcorper a lacus vestibulum sed.</p>
          </a>
          </div>
          <div class="col-lg-4 feat" style="text-align: center;">
            
            
            <a class="inLink" href="/beans">
            <img src="/images/33.png" id="ig" style=" margin-bottom:10px ;font-size: 0.4rem;" alt="">

            <h3 > Beans</h3>
            <p class="inH">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque aliquam vestibulum morbi blandit cursus risus at ultrices mi. Odio tempor orci dapibus ultrices in..</p>
          </a>

          </div>
        </div>
      </div>
    </section>


    <section id="pages" class="page-section" >
      <div style="overflow:hidden; height: auto;">

          <div  class="row" >
              <div class="col-lg-4" >
            <img class="lefhead" src="https://images.unsplash.com/photo-1549049115-5792b6deebd8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60";
            " alt="">
            </div>
              <div class="col-lg-8" style="padding: 6rem;height: 100vh;">
            <div class="flex-container" style="background-color: #212529;padding-top: 15px;padding-left: 15px;padding-right: 15px; padding-bottom: 25px;">
                <div class="about">ABOUT US</div>
    
              
                    <div style="text-align: left; padding: 0 7%;"  >
                      <p style="line-height: 2;font-size: 1.1rem; color: #fed136; letter-spacing: 0.0067em; font-family: 'Montserrat';">Quis enim 
                          ean euismod elementum naisi. Lacus suspendisse faucibus interdum posuere. Augue ut lectus 
                         
                          perdiet massa tincidund velit ut tortor pretium. Aliquet porttitor lacus luctus accumsan tortor. Habitant morbi tristique senectus et netus. 
                   </p>
                        <img class="im" style="float: right; height: 13rem;"  src="/images/12.png" alt="">
                        <p style="color: #fed136;font-size: 1.1rem; line-height: 2; letter-spacing: 0.0067em; font-family: 'Montserrat';">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod pulvinar etiam. Nam aliquam 
                          t suspendisse interdum consectgnissim suspendisse in est. In nisl nisi scelerisque eu. Vulputate ut pharetra sit amet aliquam id diam maecenas</p>
                        
                    </div>

                 
    
           
            </div>
            </div>
            
          </div>
         

             
            

      </div>
  


    
  </section>

  

  <section id="pages" class="page-section" >
      <div style="overflow:hidden; height: auto;">

          <div  class="row" >
             
              <div class="col-lg-8" style="background-color: #ffffff; padding: 5rem; height: 100vh;">
            <div class="flex-container" style="padding: 17px;">
                <div class="about" style="color:#212529">CONTACT US</div>
       <div style="padding:0 8%;"  >
                        
                        <p style="color: #e6b301;font-size: 1.1rem; line-height: 2; letter-spacing: 0.0067em; font-family: 'Montserrat';">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vel quam elementum pulvinar etiam. Nam aliquam sem et tortor consequat id. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt eget. Pretium quam vulputate dignissim suspendisse in est. In nisl nisi scelerisque eu. Vulputate ut pharetra sit amet aliquam id diam maecenas</p>
                         <div class="text-center">
                    
                      <a href="/contact" style=" font-size: 1.89rem; position:relative;margin-top: 120px;" class="btn btn-primary btn-lg text-uppercase submit" role="button">Contact Us</a>
                  </div>
                    </div>

                 
    
           
            </div>
            </div>
            <div class="col-lg-4" >
              <img class="rhead" src="  https://images.unsplash.com/photo-1522726336270-3a0053210f06?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60";
              " alt="">
              </div>
            
          </div>
         

             
            

      </div>
  


    
  </section>
  


    

 <%- include("partials/newsletter.ejs") %>

     



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Contact form JS-->


<script src="js/scripts.js"></script>
<%- include("partials/footer") %> 
    
</body>

</div>

</html>