<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%- include("partials/links") %> 

  <link rel="stylesheet" href="font/flaticon.css">

  <link rel="stylesheet" href="sign-in.css" />
  <link rel="shortcut icon" href="/images/1.svg" type="image/x-icon" />

  <title>Login</title>
</head>



<body>


  <section>

    <div class="row">

      <div class="sidenav"></div>
      <div class="login-main-text">

        <h1 style="letter-spacing: 0.0625em; font-size: 3.4rem;">
          Please<br />
          Login
        </h1>
        <h5 style=" letter-spacing: 0.0625em;color: #fde136;">Login to continue with your checkout.</h5>


      </div>


      <div class="col-sm-6">

        <div class="login-form">
          <strong>
            <h1 class="sign shimmer">JAVA HOUSE <img class="pad" src="/images/1.svg"></h1>
            </h1>
          </strong>
          <form action="/loginCheck" method="POST">
            <div class="form-group">
              <label>Email</label>
              <input type="email" name="username" class="form-control" placeholder="User Name" />
            </div>
            <div class="form-group">
              <label>Password</label>
              <input name="password" type="password" class="form-control" placeholder="Password" />
            </div>
            <button style="letter-spacing: 0.0625em" name="login" type="submit"
              class="btn btn-lg btn-outline-warning">LOGIN</button>

            <a style="letter-spacing: 0.0625em" href="/register" role="button"
              class="btn btn-lg  btn-outline-warning">REGISTER</a>
          </form>
        </div>


      </div>

    </div>

  </section>
















</body>


</html>